.footer{
    padding-top: 140px;
    padding-bottom: 20px;
    background-color: #222831;
}
.footer-item{
    margin-left: 48px;
}
.footer-heading{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer-desc,.footer-desc a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    line-height: 2;
    padding: 8px 0;
}
.footer-desc a:hover{
    color: #fff;
}
ion-icon{
    color: #fff;
    font-size: 48px;
    padding: 0 14px;
}
.footer-question ion-icon{
    font-size: 16px;
    color: #fff;
    padding: 0 8px 0 0;
}
.footer-desc_list{
    list-style: none;
    padding: 0;
}

