.form{
    margin-top: 10px;
    padding: 0 20px;
    .form-header{
        text-align: center;
    }
    .submit-btn{
        width: 100%;
        padding: 8px 0;
        background-color: #38b3e7;
        border: none;
        color: #fff;
        &:hover{
            opacity: 0.8;
        }
    }
    .form-content{
        .input-box{
            margin-bottom: 0 !important;
        }
        .err-mess{
            color: red;
            padding-left: 10px;
            font-size: 12px;
        }
    }

}