.sidebar{
    padding-top: 20px;
    .item{
        display: block;
        margin-top: 20px;
        text-decoration: none;
        color: #fff;
        ion-icon{
            font-size: 18px;
        }
    }
}