.pagination{
    margin-top: 20px;
    .page-list{
        display: flex;
        justify-content: center;
    }
    .page-item{
        width: 30px;
        height: 30px;
        background-color: #ddd;
        border-radius: 50%;
        text-align: center;
        color: #999;
        line-height: 30px;
        margin-left: 4px;
        cursor: pointer;
    }
    .page-item.active{
        background-color: #f85959;
        color: #fff;
    }
}